@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding-bottom:30px;
}

#video iframe {
    width: 100%; /* Займёт всю ширину контейнера */
    height: auto; /* Автоматически подстраивает высоту */
    aspect-ratio: 16 / 9; /* Сохраняет соотношение сторон видео */
    border: none; /* Убирает границы */
}

/* Добавьте, если контейнер ограничивает ширину */
.container {
    max-width: 1200px; /* Максимальная ширина */
    margin: 0 auto; /* Центровка контейнера */
    padding: 30px;
}
 footer, address {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .links {
    display: flex;
    flex-direction: column;
    gap: 3px;
 }